* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'musicaltone';
    src: url('MusicalTone-7BJ4A.otf') format('truetype');
}
@font-face {
    font-family: 'musicnote';
    src: url('MusicNoteFive-eZx4x.ttf') format('truetype');
}
@font-face {
    font-family: 'dtnoted';
    src: url('Dtnoted-MOyx.ttf') format('truetype');
}
body {
    font-family: sans-serif;
    background-color: #f3f4f6;

    /* FUNDO MUSICAL */
    background-image: url("imgs/fundomusicaltonspasteis.png");
    background-clip: ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* CENTRALIZA NA TELA */
.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* CARD */
.card {
    width: 80%;


    border-radius: 20px;
    padding: 32px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.973);
    background: rgba(255, 255, 255, 0.85);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

/* BOTÃO PIX (VARIAÇÃO) */
.btnpix {
    background: rgb(0, 120, 0);
}

/* PERFIL */
.perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10);
    padding: 20px;
}

/* TEXTO */
.texto {
    flex: 1;
}

.texto h1 {
    
    font-size: 30px;
    margin-bottom: 12px;
    color: #111827;
}

.texto p {
    text-align: justify;
    color: #4b5563;
    line-height: 1.6;
}

/* FOTO */
.foto {
    flex: 1;
    display: flex;
    justify-content: center;
}

.foto img {
    width: 100%;
    max-width: 380px;
    min-height: auto;
    border-radius: 40px;
    box-shadow: 0 0 24px rgb(0, 38, 255);

    object-fit: contain;
}

.depoimentos {
    width: 100%;
    height: 300px;
   
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.depoimento-card {
    display: flex;
    background: rgba(0, 0, 0, 0.85);
    padding: 10px;
    border-radius: 14px;
    width: 100%;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
}

/* BOTÕES */
.apps {
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.apps .btn {
    width: 100%;
    box-shadow: 0 0 24px black;
}

/* BOTÃO GRANDE */
.btn,
button {
    width: 100%;
    flex: 1;
    text-align: center;
    padding: 20px;
    background: #1e40af;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 14px;
    transition: 0.2s;
    border: none;
    cursor: pointer;
}

/* HOVER */
.btn:hover,
button:hover {
    background: #2563eb;
}

/* CLICK */
.btn:active,
button:active {
    transform: scale(0.97);
}

.btnnotas {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 24px;
    color: black;
    background: rgb(202, 202, 202);
    font-family: dtnoted;
 
}

footer {
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(216, 177, 5, 0.212);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 14px;
}

footer a {
    color: rgba(255, 196, 0, 0);
    padding: 12px;
    transition: 0.1s;
}

footer a:hover {
    transform: scale(1.1);
}

.redessociais,
.funcionamento {
    height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.iconewwp {
    color: black;
    z-index: 99;
    position: fixed;
    right: 10px;
    bottom: 100px;
    width: 50px;
    transition: .5s;
    cursor: pointer;
    opacity: 1;
}

.iconewwp:hover {
    transform: scale(1.1);
}

.iconewwp img {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
}

.iconewwp:before {
    right: 60px;
    padding: 0;

    border-radius: 30px;
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    content: "Falar com Marcelo";
    outline: none;
    text-align: center;
    text-decoration: none;
    background-color: green;
    color: white;
    font-size: 16px;
    width: 0;
    height: 10px;
    overflow: hidden;
    transition: .2s ease;
}

.iconewwp:hover::before {
    padding: 10px;
    width: 150px;
}
h2{
    font-family: musicaltone;
    font-size: 55px;
}

footer h3 {
    font-size: 50px;
    font-family: musicnote;
}

footer h4 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: sans-serif;
    padding-bottom: 10px;

}

.funcionamento>p {
    display: block;

}

.ulredes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.ulredes li {
    margin-top: 10px;
    list-style: none;
}

.ulredes li a {
    width: 55px;
    height: 55px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 35px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.ulredes li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.ulredes li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.ulredes li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.ulredes li a:hover:before {
    top: 0;
}

.ulredes li:nth-child(2) a:before {
    background: linear-gradient(45deg, #f09533a6 0%, #e6693c93 25%, #dc27429d 50%, #cc2366 75%, #bc1888 100%);

}


.ulredes li:nth-child(3) a:before {
    background: #11ad03ab;
}

/* ANIMAÇÃO PARA BOTÃO INTERVALOS */
.btn-intervalos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: relative;
    overflow: hidden;
}

.btn-intervalos .silaba {
    display: inline-block;
    opacity: 0;
    animation: animarSilabas 4s infinite;
    margin-right: 5px;
}

.btn-intervalos .silaba:nth-child(1) {
    animation-delay: 0s;
}

.btn-intervalos .silaba:nth-child(2) {
    animation-delay: 0.8s;
}

.btn-intervalos .silaba:nth-child(3) {
    animation-delay: 1.6s;
}

.btn-intervalos .silaba:nth-child(4) {
    animation-delay: 2.4s;
}

@keyframes juntarsilabas {
    0% {
        margin-right: 5px;
    }

    100% {
        margin-right: 0px;
    }
}

@keyframes animarSilabas {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* RESPONSIVO */
@media (max-width: 768px) {
    p{
        font-size: 12px;
    }
    .perfil {
        flex-direction: column;
        text-align: center;
    }

    .apps {
        flex-direction: column;
    }

    .foto {
        order: -1;
    }

    .depoimentos {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.devpor {
    width: 100%;
    min-height: 40px;
    flex-direction: row;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redudu {
    color: orange;
    transition: 0.3s;
}

.redudu:hover {
    font-size: 16px;
}

.apoio-texto {
    display: flex;
}